*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
    background-color: #F2F2F2;
}

$primary_color: #3E3E3E;
$secondary_color: #D5D5D5;