@use "./global" as *;

.main-content{
    padding: 0rem 1rem;
    padding-top: 2rem;
    .blog-section{
        height: 100vh;

    }

     .section{
        padding-top: 1rem;

        h1{
            padding-bottom: .5rem;
            border-bottom: 1px solid #D5D5D5;
            
            a{
                padding-bottom: .5rem;
                border-bottom: 2px solid #3E3E3E;
            }
        }
        .section-content{
            padding-top: 1rem;
        }
    }
    
    .aside{
        padding-bottom: 1rem;

        h1{
            padding-bottom: 1rem;
        }
        
        .categories{
            gap: .5rem;
            display: flex;
            flex-wrap: wrap;
    
            button{
                border: none;
                font-weight: 600;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 1rem;
                padding: .9rem 1.5rem;
                background-color: #D5D5D5;
                
                &:hover{
                    color: #fff;
                    background-color: #3E3E3E;
                }
            }
            button.active{
                color: #fff;
                background-color: #3E3E3E;
            }
        }
    }
}


@media (width >= 1000px) {
    .main-content{
        max-width: 1366px;
        margin: auto;
        
        .blog-section{
            display: grid;
            grid-template-columns: 30% 70%;
        }
    }

    .section{
        padding-left: 1rem;
        border-left: 1px solid #D5D5D5;
    }
}