@use "./global" as *;

a {
    color: #000;
    list-style: none;
    text-decoration: none;
}

.active {
    color: #3E3E3E;
    padding-bottom: .2rem;
    border-bottom: 2px solid $primary_color;
}

nav{
    top: 0;
    z-index: 1;
    display: flex;
    position: sticky;
    padding: 1rem 0rem;
    align-items: center;
    background-color: #F2F2F2;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;

    .container {
        gap: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-size: 2rem;
            font-weight: bold;
            
            span {
                color: #0f54a3;
            }
        }
        
        .search {
            width: 220px;
            display: flex;
            padding: .4rem;
            padding-left: 1rem;
            align-items: center;
            border-radius: 1.5rem;
            background-color: #D5D5D5;

            img{
                width: 1.5rem;
                background: none;
            }
            
            input {
                outline: none;
                width: 100%;
                border: none;
                padding: 0.5rem;
                background: none;
                font-size: 1.2rem;
            }
        }
    }

    .btns {
        gap: .5rem;
        display: flex;
        align-items: center;
        
        section{
            gap: .5rem;
            display: flex;
            align-items: center;

            button {
                color: #fff;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 1rem;
                padding: .9rem 1.5rem;
                background-color: #3E3E3E;
            }
            
            a:nth-child(2){
                button{
                    color: #000;
                    background-color: #D5D5D5;
                }
            }
        }
    }
  
}

.user-menu{
    gap: 1rem;;
    display: flex;
    align-items: center;

    .profile {
        gap: .5rem;
        display: flex;
        padding: .5rem;
        border-radius: 1.5rem;
        align-items: center;
        border: 2px solid #b9b9b9;

        .user{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
        }

    }
    
    .user-dropdown{
        top: 100%;
        overflow: hidden;
        position: absolute;
        border-radius: 1rem;
        border: 2px solid #b9b9b9;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 1.2rem;
                color: #000;
                padding: .6rem 2rem;
                
                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }
}

.write{
    gap: .2rem;
    display: flex;
    padding: .8rem;
    cursor: pointer;
    border-radius: 1rem ;
    align-items: center;
    background-color: #D5D5D5;

    p{
        font-size: 1.2rem;
    }

    .icon{
        width: 1.8rem;
        background: none;
    }
}