.profile{
    padding-bottom: 1rem;
    gap: .5rem;
    display: flex;
    align-items: center;

    .user{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


#comment-page {

    .comment-page-header {

        .backBtn {
            border: none;
            background: none;
            padding: 1rem 0;
            font-size: 1em;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        h1 {
            font-size: 1.5em;
            margin: .5rem 0;
        }

        p {
            color: #555;
            margin: .5rem 0;
        }

        .comment-post {
            aspect-ratio: 16/9;
            background-size: cover;
            background-position: center;
        }
    }

    .comment-page-body {

        h1 {
            margin: 1rem 0;
            font-size: 1.5em;
        }

        
        .comment-grid {
            gap: 1rem;
            display: grid;
            padding-bottom: 1rem;
        }

        .comment-form{
            gap: 1rem;
            display: flex;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 1rem;
            border: 1px solid #ccc;
            
            input{
                width: 100%;
                border: none;
                padding: 1rem;
                font-size: 1.1rem;
                border-radius: 1rem;
                background-color: #d5d5d5;
                
                &::placeholder {
                    color: #aaa;
                }
            }
            
            button{
                color: #fff;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 1rem;
                padding: .9rem 1.5rem;
                background-color: #3E3E3E;
            }
        }
        
    }
}
.comment {
    gap: .9rem;
    display: flex;
    padding: .3rem;
    
    .profile {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background: #ff0053;
        background-size: cover;
        background-position: center;
    }
    
    .comment-body{
        width: 100%;    
        
        .comment-header{
            gap: .5rem;
            padding: 1rem;
            border-radius: 1rem;
            background: #E9E9E9;

            p{
                padding: .5rem 0rem;
            }
        }
        .comment-footer{
            padding-top: .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;;

            .date{
                padding: .5rem;
            }
            .comment-actions{

                button{
                    color: #fff;
                    border: none;
                    font-size: 1rem;
                    cursor: pointer;
                    margin-right: .5rem;
                    border-radius: 1rem;
                    padding: .9rem 1.5rem;
                    background-color: #3E3E3E;
                }
            }
        }
    }
}