.all-posts{
    height: 100vh;
    // overflow-y: scroll;
}

.user-post{
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #E9E9E9;
    border-radius: 1rem;

    .post-content{
        gap: 1rem;

        h2{
            padding-bottom: .5rem;
        }

        .user{
            margin: 1rem 0rem;
            height: 500px;
            // aspect-ratio: 2/3;
            border-radius: .5rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;;
        }
    }

    .reactions{
        gap: .5rem;
        display: flex;
        align-items: center;

        button{
            border: none;
            font-size: 1rem;
            cursor: pointer;
            font-weight: 500;
            border-radius: 1rem;
            padding: .9rem 1.6rem;
            background-color: #fff6f6;
        }
    }
}